In [1]:
from data.raw.dvf import DVF
from data.referential.communes import Communes

In [2]:
dvf = DVF()
communes = Communes()

In [3]:
dvf_df = dvf.full_dataframe()
communes_df = communes.full_dataframe()

In [4]:
dvf_df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,section_prefixe
0,2022-141124,2022-01-11,1,Vente,501.0,<NA>,<NA>,CAMI GRAND,B030,12800,...,NaN,NaN,T,terres,<NA>,<NA>,1.0,NaN,NaN,0000B
1,2022-141124,2022-01-11,1,Vente,501.0,<NA>,<NA>,CAMI GRAND,B030,12800,...,NaN,NaN,T,terres,<NA>,<NA>,60.0,NaN,NaN,0000B
2,2022-141164,2022-01-19,1,Vente,20000.0,<NA>,<NA>,LE CLAUX,B089,12260,...,NaN,NaN,P,prés,<NA>,<NA>,162.0,1.941698,44.509992,0000A
3,2022-141203,2022-01-28,1,Vente,110000.0,<NA>,<NA>,VAUREILLES,B449,12220,...,NaN,NaN,S,sols,<NA>,<NA>,11.0,2.197413,44.453223,0000A
4,2022-141203,2022-01-28,1,Vente,110000.0,<NA>,<NA>,VAUREILLES,B449,12220,...,NaN,NaN,S,sols,<NA>,<NA>,58.0,2.197450,44.453156,0000A

In [5]:
communes_df.head()

,Code INSEE,Code Postal,Commune,Département,Région,Statut,Altitude Moyenne,Superficie,Population,geo_point_2d,ID Geofla,Code Commune,Code Canton,Code Arrondissement,Code Département,Code Région
0,59416,59190,MORBECQUE,NORD,NORD-PAS-DE-CALAIS,Commune simple,23.0,4455.0,2.7,"50.67689342861573, 2.536216144331492",1237,416,30,4,59,31
1,22102,22330,LANGOURLA,COTES-D'ARMOR,BRETAGNE,Commune simple,170.0,2165.0,0.6,"48.284641107667674, -2.415501011324659",10183,102,9,1,22,53
2,31225,31310,GOUTEVERNISSE,HAUTE-GARONNE,MIDI-PYRENEES,Commune simple,264.0,485.0,0.2,"43.214026301449536, 1.173765920286677",20555,225,27,1,31,73
3,23025,23220,BONNAT,CREUSE,LIMOUSIN,Chef-lieu canton,355.0,4554.0,1.3,"46.32301933418213, 1.913450631364578",3586,25,6,2,23,74
4,38522,38740,VALJOUFFREY,ISERE,RHONE-ALPES,Commune simple,2009.0,12644.0,0.1,"44.88153491127053, 6.07950399615059",1082,522,36,1,38,82

In [6]:
unique_communes_dvf = list(dvf_df["code_commune"].dropna().unique())
unique_communes = list(communes_df["Code INSEE"].dropna().unique())
communes_not_in_referential = [commune for commune in unique_communes_dvf if commune not in unique_communes]
print(len(unique_communes_dvf))
print(len(unique_communes))
print(len(communes_not_in_referential))
print(communes_not_in_referential)

33348
36742
6
['code_commune', '76095', '76601', '97127', '97123', '55138']

In [7]:
unique_communes_dvf = list(dvf_df["code_commune"].dropna().unique())
unique_communes = list(communes_df["Code INSEE"].dropna().unique())
communes_not_in_referential = [commune for commune in unique_communes_dvf if commune not in unique_communes]
clean_dvf_df = dvf_df[~dvf_df["code_commune"].isin(communes_not_in_referential)].copy()

In [8]:
unique_communes_dvf = list(clean_dvf_df["code_commune"].dropna().unique())
unique_communes = list(communes_df["Code INSEE"].dropna().unique())
communes_not_in_referential = [commune for commune in unique_communes_dvf if commune not in unique_communes]

In [9]:
print(len(unique_communes_dvf))
print(len(unique_communes))
print(len(communes_not_in_referential))
print(communes_not_in_referential)

33342
36742
0
[]